<%- include ("../partials/header") %>

<h3>LOGIN!</h3>

<<<<<<< HEAD
<div class="card">
    <span class="border border-info">
        <div class="card-body">
            <form action="/login" method="POST">
                <div class="form-group">
                    <p>Username: </p>
                    <input type="text" name=username placeholder="username">
                </div>
                <div class="form-group">
                    <p>Password: </p>
                    <input type="password" name=password placeholder="password">
                </div>
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </form>
        </div>
    </span>    
</div>
=======
<form action="/login" method="POST">
    <li><input type="text" name=username placeholder="username"></li>
    <li><input type="password" name=password placeholder="password"></li>
    <button>SUBMIT</button>
</form>
>>>>>>> 2c09b8a5ccd4f0c5a12d4d370cd32c9db189c130

<%- include ("../partials/footer") %>