<%- include ("../partials/header") %>

<h3>REGISTER or SIGN UP !</h3>

<div class="card">
    <span class="border border-info">
        <div class="card-body">
            <form action="/register" method="POST">
                <div class="form-group">
                    <p>Username: </p>
                    <input type="text" name=username placeholder="username">
                </div>
                <div class="form-group">
                    <p>Password: </p>
                    <input type="password" name=password placeholder="password">
                </div>
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </form>
            <br/>
            <p id="menu-item-40" class="nav-item menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/login" class="nav-link">GO TO LOGIN</a></p>
        </div>
    </span>    
</div>

<%- include ("../partials/footer") %>