<%- include ("../partials/header") %>

<h3>SIGN UP!</h3>

<form action="/register" method="POST">
    <li><input type="text" name=username placeholder="username"></li>
    <li><input type="password" name=password placeholder="password"></li>
    <button>SUBMIT</button>
</form>

<%- include ("../partials/footer") %>